# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# build folder
#
build

# logs folder
#
logs

# mongo dev database
#
mongo
*.wt
*.turtle
WiredTigerLog.*

node_modules
database.sqlite

# npm
#
ncp-debug.log
npm-debug.log
.idea

# YARN
#
.yarnclean
yarn-error.log

# OSX
#
.DS_Store
